.left {
	text-align: left;
}

.right {
	text-align: right;
}

.red {
	color:#ff0000;
}

table, th, td {
	border-collapse: collapse;
	border: 2px solid black;
}

fieldset {
	margin: 20px auto;
	width: 450px;
}

.row {
	margin-top: 20px;
	margin-bottom: 10px;
}

.text-field {
	width: 390px;
}

legend {
	font-weight: 700;
}

#comment {
	width: 98%;
}

button {
	font-weight: 700;
	font-size: 13px;
}

#nav {
	width: 308px;
	margin: 0 auto;
	padding: 0;
}

/* parents id is #nav and select the child with space and the element name */
#nav li {
	list-style: none;
	/* so text will be side-by-side*/
	display: inline-block;
	margin-right: 10px;
}